<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.textreverser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Text Reverser"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Input Activity as Launcher -->
        <activity
            android:name=".InputActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Result Activity -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

    </application>

</manifest>